<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi dignissimos vitae eaque dolorum ea sint ratione nesciunt fugiat repellat animi, corporis dolorem minima! Molestias cupiditate sint tempora eveniet molestiae facere recusandae nostrum expedita obcaecati, cum corporis, laboriosam ut quo.</p>
    </div>
</div>